In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

MILISECONDS_IN_HOUR = 3600000

In [2]:
fragments = pd.read_parquet('fragments.parquet').groupby('id').sum()
fragments

         duration  cpu_count    cpu_usage
id
1001502   1040000       4992    5972736.0
1001549  64920000     311616  221910528.0
1004127    900000       4320    1608768.0
1006354  86420000     414816   59470656.0
1006448    980000       4704    3787392.0
...           ...        ...          ...
994591   86400000     414720  141540672.0
994829    1000000       4800    5275200.0
997967     320000       1536     155904.0
999800   78780000     378144  346610880.0
999817     380000       1824    3036096.0

[8376 rows x 3 columns]

In [3]:
tasks = pd.read_parquet('tasks.parquet')
tasks

,id,submission_time,duration,cpu_count,cpu_capacity,mem_capacity
0,354695,2022-09-12 00:44:44,43172000,96,201600.0,100000
1,5322138,2022-09-12 11:10:06,1050000,96,201600.0,100000
2,2979308,2022-09-12 12:31:46,628000,96,201600.0,100000
3,2872246,2022-09-12 13:05:31,1588000,96,201600.0,100000
4,821602,2022-09-12 13:09:26,68034000,96,201600.0,100000
...,...,...,...,...,...,...
8371,2088308,2022-09-15 07:43:11,357000,96,201600.0,100000
8372,1394750,2022-09-15 08:27:36,382000,96,201600.0,100000
8373,4906495,2022-09-15 16:40:51,7200000,96,201600.0,100000
8374,5667091,2022-09-15 08:35:40,828000,96,201600.0,100000
8375,2246801,2022-09-15 07:21:07,249000,96,201600.0,100000

In [4]:
tasks['cpu_hours'] = (tasks['cpu_count'] * tasks['duration']) / MILISECONDS_IN_HOUR
total_cpu_hours = tasks['cpu_hours'].sum()

print(f"Total CPU hours: {total_cpu_hours}")

Total CPU hours: 4743283.893333334

In [5]:
# period of operation

# first job is the one with the lower submission_time
first_job = tasks['submission_time'].min()
# last job is the one with the higher submission_time + duration at the job number 7665

last_job = tasks['submission_time'].max() 
duration_at = tasks['duration'].iloc[7665] / MILISECONDS_IN_HOUR

print(f"First job: {first_job}")
print(f"Last job: {last_job}")
print(f"Duration at job 7665: {duration_at}")

First job: 2022-08-31 04:40:10
Last job: 2022-09-28 21:49:28
Duration at job 7665: 20.496111111111112

KeyError: 'id'