In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
def load_data():
    for file in os.listdir('parquets'):
        print(f"parquets/{file}")
        try:
            dataset = pd.read_parquet(f"parquets/{file}")
            dataset.columns = ['timestamp', 'carbon_intensity']
            # override the file with the new column names
            dataset.to_parquet(f"parquets/{file}")
        except Exception as e:
            print(f"Error: parquets/{file}")
            continue

In [13]:
load_data()

parquets/entso-e-DE-2023_1-2023_12.parquet
parquets/entso-e-DK-2023_1-2023_12.parquet
Error: parquets/entso-e-DK-2023_1-2023_12.parquet
parquets/entso-e-FR-2023_1-2023_12.parquet
parquets/entso-e-ES-2023_1-2023_12.parquet
parquets/entso-e-RO-2023_1-2023_12.parquet
Error: parquets/entso-e-RO-2023_1-2023_12.parquet
parquets/entso-e-CH-2023_1-2023_12.parquet
Error: parquets/entso-e-CH-2023_1-2023_12.parquet
parquets/entso-e-AT-2023_1-2023_12.parquet
parquets/carbon_2022.parquet
parquets/entso-e-PT-2023_1-2023_12.parquet
parquets/entso-e-CZ-2023_1-2023_12.parquet
parquets/entso-e-NO-2023_1-2023_12.parquet
Error: parquets/entso-e-NO-2023_1-2023_12.parquet
parquets/entso-e-SI-2023_1-2023_12.parquet
Error: parquets/entso-e-SI-2023_1-2023_12.parquet
parquets/entso-e-LT-2023_1-2023_12.parquet
parquets/entso-e-PL-2023_1-2023_12.parquet
Error: parquets/entso-e-PL-2023_1-2023_12.parquet
parquets/entso-e-RS-2023_1-2023_12.parquet
Error: parquets/entso-e-RS-2023_1-2023_12.parquet
parquets/entso-e-EE-2023_1-2023_12.parquet
Error: parquets/entso-e-EE-2023_1-2023_12.parquet
parquets/entso-e-FI-2023_1-2023_12.parquet
Error: parquets/entso-e-FI-2023_1-2023_12.parquet
parquets/entso-e-NL-2023_1-2023_12.parquet
parquets/entso-e-BG-2023_1-2023_12.parquet
Error: parquets/entso-e-BG-2023_1-2023_12.parquet
parquets/entso-e-SK-2023_1-2023_12.parquet
parquets/entso-e-IE-2023_1-2023_12.parquet
parquets/entso-e-MK-2023_1-2023_12.parquet
Error: parquets/entso-e-MK-2023_1-2023_12.parquet
parquets/entso-e-LU-2023_1-2023_12.parquet
Error: parquets/entso-e-LU-2023_1-2023_12.parquet
parquets/entso-e-SE-2023_1-2023_12.parquet
Error: parquets/entso-e-SE-2023_1-2023_12.parquet
parquets/entso-e-HR-2023_1-2023_12.parquet
parquets/entso-e-LV-2023_1-2023_12.parquet
Error: parquets/entso-e-LV-2023_1-2023_12.parquet
parquets/entso-e-GR-2023_1-2023_12.parquet
Error: parquets/entso-e-GR-2023_1-2023_12.parquet
parquets/entso-e-HU-2023_1-2023_12.parquet
parquets/entso-e-BE-2023_1-2023_12.parquet
parquets/entso-e-ME-2023_1-2023_12.parquet
Error: parquets/entso-e-ME-2023_1-2023_12.parquet

In [8]:
pd.read_parquet("parquets/carbon_2022.parquet")

                timestamp  carbon_intensity
0     2021-12-31 23:00:00        168.138693
1     2021-12-31 23:15:00        167.050014
2     2021-12-31 23:30:00        164.552936
3     2021-12-31 23:45:00        167.493769
4     2022-01-01 00:00:00        164.517793
...                   ...               ...
34939 2022-12-30 21:45:00         91.855611
34940 2022-12-30 22:00:00         91.849933
34941 2022-12-30 22:15:00         93.020656
34942 2022-12-30 22:30:00         93.370508
34943 2022-12-30 22:45:00         94.498418

[34944 rows x 2 columns]

In [9]:
pd.read_parquet("parquets/entso-e-AT-2023_1-2023_12.parquet")

              ('timestamp', '')  ('carbon_intensity', '')
0     2023-01-01 00:00:00+01:00                 14.934701
1     2023-01-01 00:15:00+01:00                 15.042630
2     2023-01-01 00:30:00+01:00                 15.130440
3     2023-01-01 00:45:00+01:00                 15.256120
4     2023-01-01 01:00:00+01:00                 15.398627
...                         ...                       ...
34939 2023-12-30 22:45:00+01:00                  7.845513
34940 2023-12-30 23:00:00+01:00                  8.378335
34941 2023-12-30 23:15:00+01:00                  8.618783
34942 2023-12-30 23:30:00+01:00                  8.906850
34943 2023-12-30 23:45:00+01:00                  9.162724

[34944 rows x 2 columns]

In [4]:
pd.read_parquet("parquets/entso-e-RO-2023_1-2023_12.parquet")

,Biomass,Fossil Brown coal/Lignite,Fossil Gas,Fossil Hard coal,Hydro Run-of-river and poundage,Hydro Water Reservoir,Nuclear,Solar,Wind Onshore,total_energy
0,32.0,867.0,1395.0,0.0,1049.0,44.0,1409.0,0.0,1003.0,5799.0
1,32.0,880.0,1406.0,0.0,1055.0,44.0,1409.0,0.0,1015.0,5841.0
2,32.0,872.0,1395.0,0.0,1131.0,44.0,1409.0,0.0,1041.0,5924.0
3,32.0,873.0,1393.0,0.0,1140.0,44.0,1409.0,0.0,1050.0,5941.0
4,32.0,873.0,1393.0,0.0,960.0,42.0,1409.0,0.0,1081.0,5790.0
...,...,...,...,...,...,...,...,...,...,...
34932,32.0,1007.0,1634.0,0.0,1557.0,834.0,1396.0,0.0,556.0,7016.0
34933,31.0,1016.0,1652.0,0.0,1231.0,688.0,1396.0,0.0,573.0,6587.0
34934,31.0,1012.0,1639.0,0.0,1141.0,646.0,1397.0,0.0,600.0,6466.0
34935,32.0,995.0,1617.0,0.0,1142.0,597.0,1396.0,0.0,645.0,6424.0
34936,32.0,972.0,1584.0,0.0,1141.0,541.0,1396.0,0.0,682.0,6348.0

In [ ]:
def add_carbon_intensity(df, emission_factors):
    # Calculate total energy and carbon usage
    df['total_energy'] = df[[col for col in df.columns if col != 'total_energy']].sum(axis=1)
    df['carbon_usage'] = 0
    
    for source, factor in emission_factors.items():
        df['carbon_usage'] += df[source] * factor
    
    # Compute carbon intensity: grams of CO2 per kWh
    df['carbon_intensity'] = df['carbon_usage'] / df['total_energy']
    
    return df


add_carbon_intensity(pd.read_parquet("parquets/entso-e-RO-2023_1-2023_12.parquet")