In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# read all the parquet files from .parquet directory
def read_parquet_files():
    i = 0
    dataframes = []
    for file in os.listdir("."):
        print(f"Reading {file}")
        if (i == 0):
            continue
        file = pd.read_parquet(file)
        dataframes.append(file)
        
    return dataframes

In [3]:
os.getcwd()

'/Users/raz/atlarge/trace-archive/carbon-traces/entsoe-22/entsoe-data-grabber'

In [6]:
file = pd.read_parquet("parquets/entso-e-AT-2023_1-2023_12.parquet")
file

              ('timestamp', '')  ('carbon_intensity', '')
0     2023-01-01 00:00:00+01:00                 14.934701
1     2023-01-01 00:15:00+01:00                 15.042630
2     2023-01-01 00:30:00+01:00                 15.130440
3     2023-01-01 00:45:00+01:00                 15.256120
4     2023-01-01 01:00:00+01:00                 15.398627
...                         ...                       ...
34939 2023-12-30 22:45:00+01:00                  7.845513
34940 2023-12-30 23:00:00+01:00                  8.378335
34941 2023-12-30 23:15:00+01:00                  8.618783
34942 2023-12-30 23:30:00+01:00                  8.906850
34943 2023-12-30 23:45:00+01:00                  9.162724

[34944 rows x 2 columns]

In [3]:
pd.read_parquet("parquets/entso-e-BE-2023_1-2023_12.parquet")

             ('timestamp', '')  ('carbon_intensity', '')
0    2023-01-01 00:00:00+01:00                 24.001769
1    2023-01-01 01:00:00+01:00                 24.142198
2    2023-01-01 02:00:00+01:00                 24.217160
3    2023-01-01 03:00:00+01:00                 23.904093
4    2023-01-01 04:00:00+01:00                 24.338156
...                        ...                       ...
8731 2023-12-30 19:00:00+01:00                 24.425521
8732 2023-12-30 20:00:00+01:00                 23.488466
8733 2023-12-30 21:00:00+01:00                 24.815516
8734 2023-12-30 22:00:00+01:00                 24.614834
8735 2023-12-30 23:00:00+01:00                 24.414129

[8736 rows x 2 columns]